@import "reset.css";

@font-face {
  font-family: 'Merriweather Regular';
  src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url(../assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: 'Merriweather Light';
  src: url(../assets/fonts/Merriweather/Merriweather-Light.ttf)
}

/**
 * Configs
 */
:root {
  /* Colors */
  /*--color-primary: #2628e5;*/
  --color-primary: #3f4dff;
  --color-primary-light: #f0f6ff;
  --color-primary-dark: #005580;
  --color-secondary: #377f31;
  --color-secondary-dark: #2C6327;
  --color-code: #dd1144;
  --color-highlight: #fbf9c9;
  --color-black: #272727;
  --color-white: #f9f9f9;
  /*--color-white: #ffffff;*/
  --color-gray-dark: #808080;
  --color-gray-darker: #555555;
  --color-gray-medium: #B8B8B8;
  --color-gray-light: #e5e5e5;
  --color-gray-lighter: #f7f7f7;
  /* Fonts */
  --font-primary: "Helvetica Neue", Arial, sans-serif;
  --font-secondary: "Merriweather Bold", Georgia, serif;
  --font-secondary--light: "Merriweather Light", Georgia, serif;
  --font-monospace: Menlo, Monaco, "Courier New", monospace;
  /* Sizes */
  --font-size: 100%;
  --font-larger: 1.2rem;
  --spacing: 1.5625em;
  --container-width: 88%;
  --container-max-width: 75em;
  --text-width: clamp(45ch, 100%, 75ch);
  --h1-mobile: 2.2rem;
  --h1-line-height-mobile: 2.4rem;
  /* Margins, spacings, borders */
  --margin-md: 2rem;
  --margin-lg: 4rem;
  --margin: 3.5rem;
  --border-radius: 6px;
  /* Breakpoints */
  /* Can't be used in media queries so just for reference */
  /* Extra small devices (phones, 600px and down)
     @media only screen and (max-width: 600px) {...}
     
     Small devices (portrait tablets and large phones, 600px and up)
     @media only screen and (min-width: 600px) {...}
     
     Medium devices (landscape tablets, 768px and up)
     @media only screen and (min-width: 768px) {...}
     
     Large devices (laptops/desktops, 992px and up)
     @media only screen and (min-width: 992px) {...}
     
     Extra large devices (large laptops and desktops, 1200px and up)
     @media only screen and (min-width: 1200px) {...}
  */
  /* Shadows */
  --btn-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  /* Mobile nav - hamburger-menu and sidebar*/
  --bar-width: 30px;
  --bar-height: 4px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 300ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}

/* @section Group classes */

/**  
 * Nav
 **/
.nav-container {
  position: fixed;
  top: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, max-content);
  border-bottom: 0.5px solid var(--color-gray-medium);
  background: var(--color-white);
  z-index: 10;
  transition: top 450ms ease;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 81px;
  grid-row: span 2;
  /* padding: 0.8rem 1rem 0.2rem; */
  border-right: 3px solid var(--color-black);

  & img {
    margin-top: 10px;
    width: 110px;
  }
}

@media(max-width: 710px) {
  .logo-wrapper {
    width: 80px;
    height: 54px;

    & img {
      margin-top: 6px;
      width: 50px;
    }
  }
}

.nav-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem;
  justify-content: space-between;
}

@media (max-width: 710px) {
  .nav-wrapper {
    display: none;
  }

  .logo-wrapper img {
    content: url("../assets/logo-small.svg");
  }
}

.nav {
  & ul {
    display: flex;
    font-family: var(--font-primary);
    /* text-transform: uppercase; */
    list-style-type: none;
    margin: 0;
    gap: 1rem;

    & li:not(:last-of-type)::after {
      content: "/";
      margin-left: 1rem;
    }

    & li a {
      text-decoration: none;
      color: var(--color-black);

      &:hover {
        color: var(--color-primary);
      }
    }

  }
}

.lang-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;

  & svg {
    fill: var(--color-primary);
  }
}

.languages-wrapper {
  position: relative;
  left: -3px;
  box-sizing: content-box;
  border-left: solid 3px var(--color-black);
  position: absolute;
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 0px;
  overflow: hidden;
  background: var(--color-white);
  box-shadow: 10px 18px 18px 0px rgba(0, 0, 0, 0.1);
  transition: height 400ms ease-in-out;
}

.languages-wrapper.visible {
  height: 250px;
}

.languages-list {
  height: 180px;
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  margin: 3rem 0 0.5rem 1rem;

  li {
    margin: 0 3rem 0.3rem 0;
    font-family: var(--font-primary);

    & a {
      text-decoration: none;
      padding: 2px 4px;

      &:hover {
        color: var(--color-white);
        background-color: var(--color-primary);
      }
    }
  }
}

@media (max-width: 890px) {
  .languages-wrapper.visible {
    height: 400px;
  }

  .languages-list {
    height: 340px;
  }
}

.selected-language {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  /* display: none; */
  gap: 0.5rem;
  padding: 0.5rem 0 0.5rem 1rem;
  background: var(--color-gray-light);

  & p {
    margin: 0;

    &::after {
      content: "|";
      margin-left: 0.5rem;
    }
  }
}

@media (max-width: 710px) {
  .selected-language {
    display: none;
  }

  .languages-wrapper {
    display: none;
  }
}

.download-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;

  & svg {
    fill: var(--color-primary);
  }
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
  justify-self: end;

  display: none;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  margin-right: 2rem;
  /* position: absolute; */
  /* top: var(--hamburger-margin); */
  /* right: var(--hamburger-margin); */
  z-index: 2;
  cursor: pointer;

  &:has(input:checked)::before {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  &:has(input:checked)::after {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  &:has(input:checked)+.sidebar {
    translate: 0;
  }

  &:has(input:checked) {
    /* --foreground: white; */
    /* --background: #333; */
  }

  &:has(input:focus-visible)::before,
  &:has(input:focus-visible)::after,
  & input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 100px;
  transform-origin: right center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;

  &:checked {
    opacity: 0;
    /* width: 0; */
  }
}

.sidebar {
  display: none;
  position: fixed;
  right: 0;
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 1rem 2rem;
  margin-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 22px);
  /* padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 5rem); */
  background-color: var(--color-gray-light);
  color: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;

  & .nav__mobile {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: var(--font-primary);
    list-style-type: none;
    margin: 0;
    gap: 1rem;
    font-size: 1.5rem;
    margin-bottom: 6rem;

    & a {
      text-decoration: none;
    }

    & .resources-wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: max-content;

      & svg {
        fill: var(--color-primary);
      }
    }

    & .languages-list__mobile {
      display: flex;
      flex-direction: column;
      align-items: end;
      list-style-type: none;
      font-size: 1rem;

      & a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 710px) {
  .logo-wrapper {
    width: 100px;
  }

  .hamburger-menu {
    display: flex;
  }

  .sidebar {
    display: block;
  }
}


/**
 * Footer
 **/
.footer-wrapper {
  margin-top: 6rem;
  border-top: 3px solid var(--color-primary);
}

footer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  color: var(--color-primary);
  padding: 1rem 0;
}

footer>div:first-child,
footer>div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer--copyright {
  margin: 0;
  font-size: clamp(10px, 1vw, 1.5rem);
}

.logos {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.logo {
  display: flex;

  & img {
    align-self: center;
  }
}

.nav-footer {
  font-family: var(--font-primary);
  font-size: 1.2rem;

  & ul {
    list-style-type: none;
    margin: 0;
  }

  & a {
    text-decoration: none;
  }
}

#logo-1 {
  min-width: 70px;
  max-width: 120px;
}

#logo-2 {
  min-width: 60px;
  max-width: 100px;
}

#logo-3 {
  min-width: 30px;
  max-width: 70px;
}

#logo-4 {
  min-width: 70px;
  max-width: 100px;
}

#logo-5 {
  min-width: 80px;
  max-width: 120px;
}

.back-to-top {
  margin-top: 0.6rem;
  cursor: pointer;
  max-width: 140px;
  min-width: 100px;

  & img {
    scale: 1.4;
  }
}

.socials-wrapper {
  display: flex;
  gap: 1rem;
  align-self: end;

  & .social {
    width: 20px;
  }
}

@media(max-width: 1000px) {
  .nav-footer {
    display: none;
  }
}

@media(max-width: 768px) {
  .back-to-top {
    display: none;
  }

  footer>div:last-child {
    display: block;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@media(max-width: 600px) {
  footer {
    display: block;
  }

  .footer-wrapper {
    margin-top: 3rem;
  }

  .logos {
    width: 100%;
  }

  #logo-5 {
    display: none;
  }
}

/**
 * General
 **/

.mirror {
  transform: scaleX(-1);
}

.background-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(255, 255, 255, 0) 25%);
}

.clickable {
  cursor: pointer;
  color: var(--color-primary);

  &:hover {
    color: var(--color-black);
  }
}

.text-primary {
  color: var(--color-primary);
}

.text-white {
  color: var(--color-white);
}

.container {
  position: relative;
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.container--sm {
  width: var(--container-width);
  max-width: 700px;
  margin: 0 auto;
}

.container--full-height {
  overflow: hidden;
  height: clamp(500px, 100vh, 100vh);
}

.container--border {
  border-bottom: 1px solid var(--color-gray-dark);
}

.padding-v-lg {
  padding: var(--margin-lg) 0;
}

.background-primary {
  background: var(--color-primary);
  /* opacity: 0.1; */
}

.flex {
  display: flex;
  gap: 3rem;
}

@media (max-width: 1050px) {
  .flex.block {
    display: block;
    max-width: 700px;
  }
}

.align-cnt {
  align-self: center;
}

.width-50 {
  width: 50%;
}

/**
 * toc
 */
.document__toc {
  position: sticky;
  top: 2rem;
  align-self: start;
  transition: top 450ms ease;

  & a {
    display: block;
    text-decoration: none;
    color: #535353;
    font-family: var(--font-primary);

    &:hover {
      color: var(--color-primary);
    }
  }

  & li {
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-left: 2px solid var(--color-gray-medium);
  }

  & ul {
    list-style: none;
    margin: 1rem 0;
  }
}

.document__toc li.active {
  background: #ece2ff;
  border-left: 2px solid #872bff;

  & a {
    font-weight: 460;
    color: #4e4e4e;

  }
}

/**
 * document  
 */

.document {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto minmax(0, 1fr);
  column-gap: 1.4%;
}

.document__heading {
  grid-column: 5/13;
  grid-row: 1/2;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-medium);

  & h1 {
    margin-bottom: 2rem;
  }

  & p {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .document__heading>h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .document__heading>h1 {
    font-size: var(--h1-mobile);
  }
}

.document__main-takeaway {
  color: var(--color-primary);
  font-weight: bold;
  padding: 1rem 1.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
}

.document__authors {
  grid-column: 1/4;
  grid-row: 2/3;
  border-top: 1px solid var(--color-gray-medium);
  margin-bottom: 2rem;

  & strong {
    font-size: 0.9rem;
  }

  & p {
    font-size: 0.8rem;
  }
}

.document__text {
  grid-column: 5/13;
  grid-row: 2/4;
  font-size: var(--font-larger);
}

.document__text>h2 {
  margin-top: 0;
}

.document__toc {
  grid-column: 1/4;
  grid-row: 3/4;
}

#references li {
  font-size: 1rem;

  & p {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .document__toc {
    font-size: 0.9rem;
    grid-row: 3/4;
  }

  .document__authors {
    border-top: none;
    grid-column: 5/13;
    grid-row: 2/3;
    margin-bottom: 0;
  }

  .document__text {
    grid-column: 5/13;
    grid-row: 3/4;
    font-size: var(--font-larger);
  }
}

@media (max-width: 600px) {
  .document__toc {
    display: none;
  }

  .document {
    display: block;
  }

  #references li,
  #references p {
    font-size: 0.8rem;
  }
}

/* FAQ */

.faq {
  margin-bottom: 2rem;
}

.faq>h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.question-wrapper {
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 1px solid var(--color-gray-medium);
  padding: 1rem;
  column-gap: 1rem;
}

.question-wrapper div.status {
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 100%;
  transition: background 250ms ease;
  margin-top: 7px;
}

@media(max-width: 768px) {
  .question-wrapper div.status {
    margin-top: 7px;
  }
}

@media(max-width: 600px) {
  .question-wrapper div.status {
    margin-top: 4px;
  }
}

.question-wrapper.opened div.status {
  background: var(--color-primary);
}

.question-wrapper.opened .info {
  display: block;
}

.info-wrapper>h3 {
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }
}

.question-wrapper.opened .info-wrapper h3 {
  color: var(--color-primary);
  text-decoration: none;
}

.info-wrapper .info {
  margin: 8px 0;
  display: none;

  & div {
    margin: 1rem 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-gray-medium);

    & p {
      margin-bottom: 0.5rem;
    }
  }
}

.authors-date>p {
  margin-bottom: 0 !important;
}

@media(max-width: 600px) {
  .faq>h2 {
    font-size: 1rem;
  }
}

/* Article */
.article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  /*column-gap: 4rem;*/
  row-gap: 1.4rem;
  margin-bottom: 1rem;
}

.article__heading {
  grid-column: 5/13;
  margin-top: 1rem;
}

.article__text {
  grid-column: 5/13;
  grid-row: 2/4;
  font-size: var(--font-larger);
}

.article__img {
  grid-column: 1/4;
  grid-row: 2/3;
}

.article__aside {
  grid-column: 1/4;
  grid-row: 3;
}

.article__aside ul {
  width: 88%;
  margin: 2rem 0;
  padding: 0;
  list-style: none;

  & li {
    font-family: var(--font-primary);
    margin-bottom: 1.4rem;
    color: var(--color-primary);
    text-transform: uppercase;
  }
}

.article__takeaway {
  grid-column: 1/10;
  grid-row: 4/5;
  align-self: center;
}

.article__takeaway-img {
  grid-column: 9/13;
  grid-row: 4/5;
  z-index: -6;
}

@media (max-width: 768px) {
  .article .h1 {
    font-size: 2.7rem !important;
  }

  .article li {
    font-size: 0.8rem;
  }

  .article ul {
    margin: 0;
  }

  .article__img {
    grid-row: 1/2;
    align-self: center;
  }

  .article__aside {
    grid-row: 2/3;
  }
}

@media (max-width: 600px) {
  .article .h1 {
    font-size: 1.5rem !important;
  }

  .article__text {
    grid-column: 1/13;
    grid-row: 2/3;
  }

  .article__aside {
    grid-column: 1/13;
    grid-row: 3/4;
  }

  .article ul {
    width: 100%;
  }

  .article li {
    font-size: 1rem;
  }

  .article__takeaway {
    grid-column: 1/13;
  }

  .article__takeaway-img {
    grid-column: 1/13;
    opacity: 0.6;
  }
}

.bilingual-questions-container {
  max-width: 75ch;
}

.bilingual-questions-container .subheading {
  margin: 2.5rem 0 0.5rem;
}

.bilingual-questions-container .subheading:first-child {
  margin-top: 0;
}

/* Home */
.home {
  display: grid;
  grid-template-columns: 1fr 10vw 1fr;
  row-gap: 1.4rem;
}

.home__heading {
  grid-area: 2 / 1 / 3 / 3;
  margin: 0;
  margin-top: 0.5rem;
  min-width: 16ch;
  font-size: 4rem;
}

.home__text {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.home__img {
  position: relative;
  grid-area: 1 / 2 / 6 / 4;
  z-index: -1;
  bottom: -5px;
  align-self: end;
}

.home__btn {
  grid-row: 4 / 5;
  margin-left: 2rem;
  margin-bottom: 4rem;
  max-width: max-content;
}

.home__welcome {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-top: var(--margin-lg);
  padding-bottom: var(--margin-lg);

}

.welcome__heading {
  display: flex;
  align-self: center;
  width: 50%;
  max-width: 450px;
}

.home__questions {
  display: flex;
  gap: 3rem;
  margin-top: var(--margin-lg);
  color: var(--color-primary);
  font-size: var(--font-larger);
  font-style: italic;
  font-weight: bold;

  & a:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }

  .home__heading {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 3.2rem;
  }

  .home__text {
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 0;
  }

  .home__img {
    grid-area: 1 / 2 / 4 / 4;
    opacity: 60%;
  }

  .home__btn {
    grid-area: 3 / 1 / 4 / 4;
    margin-left: 0;
  }

  .home__welcome {
    display: block;

    &>div:last-child {
      margin-top: var(--margin-md);
      width: 75%;
    }
  }

  .home__questions {
    width: 70%;
    max-width: 400px;
    display: block;
    font-size: 1rem;

    & a {
      display: inline-block;
      margin-bottom: 1.6rem;
    }
  }
}

@media (max-width: 600px) {
  .home {
    row-gap: 1rem;
  }

  .home__heading {
    font-size: var(--h1-mobile);
    line-height: var(--h1-line-height-mobile);
  }

  .home__text {
    grid-column: 1 / 4;
  }

  .home__welcome {
    padding: 3rem 0;

    &>div:last-child {
      width: 100%;
    }
  }

  .home__questions {
    margin-top: 3rem;
  }

}

/* Hero */
.hero {
  display: grid;
  margin-bottom: 2.5rem;
  grid-template-columns: repeat(10, 1fr);
  row-gap: 1.4rem;
  max-width: 65em;
}

.hero__heading {
  grid-column: 1/9;
  grid-row: 1/2;
  margin: 0;
  margin-top: 0.5rem;
  min-width: 16ch;
  font-size: 4rem;
}

.hero__text {
  grid-column: 1/5;
  grid-row: 2;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.hero__btn {
  grid-column: 1/4;
  grid-row: 3;
  width: max-content;
  margin-left: 2rem;
}

.hero__img {
  grid-area: 2 / 6 / 5 / 11;
  padding-bottom: 2rem;
  z-index: -1;
}

@media (max-width: 768px) {
  .hero__heading {
    grid-column: 1/11;
    font-size: 3.2rem;
  }

  .hero__text {
    grid-column: 1/8;
  }

  .hero__img {
    grid-area: 3 / 4 / 5 / 11;
  }
}

@media (max-width: 600px) {
  .hero {
    display: block;
  }

  .hero__heading {
    font-size: var(--h1-mobile);
    line-height: var(--h1-line-height-mobile);
  }

  .hero__img {
    display: block;
    margin: 2rem auto 0;
    padding-bottom: 0;
    width: 100%;
    max-width: 350px;
  }

  .hero__text {
    grid-column: 1/11;
    grid-row: 3;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .hero__btn {
    display: block;
    grid-column: 1/11;
    grid-row: 4;
    margin: 0 auto;
  }
}

/* Media */
.media {
  display: grid;
  margin: 0 auto 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 1.4rem;
  margin-bottom: var(--margin);
}

.media__heading {
  grid-column: 1;
  grid-row: 1;
}

.media__text {
  grid-column: 1;
  grid-row: 2;
  margin: 0 auto;
}

.media__text--reversed {
  grid-column: 2/3;
}

.media__img {
  grid-area: 1 / 2 / 3 / 3;
  align-self: end;
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.media__img--reversed {
  grid-column: 1/2;
}

[src*="computer"] {
  padding-top: 3rem;
}

@media (max-width: 768px) {
  .media {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .media__heading {
    border-bottom: 1px solid var(--color-gray-medium);
    padding-bottom: 1rem;
  }

  .media__text {
    grid-column: 1;
    grid-row: 3;
  }

  .media__img {
    grid-column: 1;
    grid-row: 2;
    max-width: 400px;
  }

  [src*="computer"] {
    padding-top: 0;
  }
}

@media (max-width: 600px) {
  .media__heading {
    margin-top: 0;
    font-size: var(--h1-mobile);
  }
}

/* Bio */
.bio {
  display: grid;
  grid-template-columns: minmax(80px, auto) auto;
  grid-template-rows: auto max-content 1fr;
  gap: 1rem;
  margin: 3rem 0;
}

.bio__name {
  grid-column: 2;
  grid-row: 1;
  border-top: 1px solid var(--color-gray-medium);
  border-bottom: 1px solid var(--color-gray-medium);
  margin: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  white-space: nowrap;
}

.bio__img {
  grid-column: 1;
  grid-row: 1/span 2;
  width: clamp(140px, 100%, 200px);
  border-radius: var(--border-radius)
}

.bio__list {
  grid-column: 1;
  grid-row: 3;
  font-size: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  /*font-family: Georgia, serif;*/
  font-family: var(--color-secondary);
  font-style: italic;
  color: var(--color-gray-darker);

  /*font-style: italic;*/
  & li::after {
    content: ' /';
  }
}

.bio__text {
  margin-top: 3.5rem;
  grid-column: 2;
  grid-row: 2/span 2;
  max-width: clamp(45ch, 100%, 75ch);
  justify-self: center;
}

@media (max-width: 600px) {
  .bio__name {
    font-size: 1.2rem;
    white-space: wrap;
  }

  .bio__list {
    font-size: 0.8rem;
    grid-column: 2;
    grid-row: 2;
  }

  .bio__text {
    grid-column: 1/span 2;
    grid-row: 3;
    margin-top: 1rem;
  }
}

/* Form */

.success {
  text-align: center;
  margin: 0 auto;

  & h3 {
    margin: 0 !important;
  }
}

.form-wrapper {
  width: clamp(100px, 100%, 600px);
  margin: 0 auto;
  padding: 3rem;
  border: 1px solid var(--color-gray-medium);
  border-radius: var(--border-radius);
  background-color: white;
  font-family: var(--font-primary);

  & h2 {
    margin-bottom: 2.5rem;
  }
}

.field {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.field input {
  flex-grow: 1;
}

.scale-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.scale {
  display: flex;
  flex-direction: column;
}

.emoji {
  font-size: 1.3rem;
}

[type=text] {
  display: block;
  width: 100%;
}

[type=radio] {
  margin: 6px 0;
  cursor: pointer;
}

[type=radio]+label {
  cursor: pointer;
}

form {
  display: grid;
  gap: 1rem;
}

textarea {
  width: 100%;
  resize: none;
}

@media(max-width: 600px) {
  .form-wrapper {
    padding: 0;
    border: none;
    background-color: var(--color-white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
  }
}

legend {
  font-style: italic;
  font-weight: bold;
}

/* Buttons */
button {
  font-family: var(--font-primary);
}

.btn--lg {
  padding: 1rem 1.5rem;
  border: 2px solid var(--color-primary);
  border-radius: 4px;

  &:hover {
    background-color: var(--color-primary);

    & a {
      color: var(--color-white);
    }
  }
}

@media (max-width: 600px) {
  .btn--lg>h2 {
    font-size: 1.5rem;
  }
}


.btn--primary {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 2rem;
  letter-spacing: 0.03rem;
  line-height: 100%;
  box-shadow: var(--btn-shadow);
  transition: box-shadow 250ms ease-in-out;
  text-align: center;

  &:hover {
    box-shadow: none;
    color: var(--color-white);
  }
}

@media (max-width: 600px) {
  .btn--primary {
    font-size: 0.9em;
    padding: 0.8rem 1.6rem;
  }
}

[role=button] {
  cursor: pointer;
}

/* @section Typography
*/
/**
 * Misc (type)
 */
.clamp-width {
  width: clamp(45ch, 100%, 75ch);
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

.uppercase {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.font-larger {
  font-size: var(--font-larger);
}

.font-larger-2 {
  font-size: 1.4rem;
}

.em {
  font-style: italic;
}

.strong {
  font-weight: bold;
}

sup {
  font-size: 0.8rem;
}

.banner {
  display: block;
  border-bottom: 1px solid var(--color-gray-medium);
  padding: 1rem;
  margin: 0;
}

.banner.small {
  padding: 0.5rem;
}

.collapsible-container div {
  display: none;
}

.collapsible-container.opened .banner {
  color: #872bff;
}

.collapsible-container.opened div {
  margin: 1rem 0 0;
  padding: 0 0 1rem 1rem;
  display: block;
  border-bottom: 1px solid var(--color-gray-medium);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-secondary--light);
  font-size: var(--font-size);
  line-height: 1.5;

  /* overflow-x STOPS POSITION STICKY ELEMENTS FROM WORKING!!
  /* overflow-x: hidden; */
}

main {
  padding-top: 2rem;
}

.h1,
h1,
h2,
h3 {
  font-family: var(--font-primary);
  margin: 0.5rem 0 1.5rem 0;
  line-height: 1;
}

.h1,
h1 {
  color: var(--color-primary);
  font-size: 3rem;
}

h2,
h3 {
  font-weight: 400;
  letter-spacing: 0.03rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: var(--spacing);
  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.subheading {
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  line-height: var(--spacing);
  margin: 0;
  font-weight: bold;
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }

  .subheading {
    font-size: 1.2rem;
  }
}

@media(max-width: 600px) {
  .subheading {
    font-size: 1rem;
  }
}

/**
 * Hyperlink styling
 */
a {
  color: var(--color-primary);
  text-decoration-skip-ink: auto;
  word-wrap: break-word;
}

a:active,
a:focus,
a:hover {
  color: var(--color-black);
}

a:has(div) {
  &:hover {
    color: var(--color-white);
  }
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.external-link::after {
  content: url("../assets/open-in-new.svg");
}

.invert-hover {
  padding: 2px 4px;
}

.invert-hover:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/**
 * Internal link styling
 */
/*a[href^="#"]>h2 {
  color: var(--color-black);
}*/

a[href^="#"] {
  display: inline-block;

  &:hover {
    color: var(--color-primary);
    text-decoration-thickness: 2px;
  }
}

a[href^="#"]>h2 {
  cursor: pointer;
  padding: 0;
  margin: 1em 0;

  &:active {
    background: var(--color-primary);
    color: white;
  }
}

/**
 * List styling
 */

.additional-links {
  margin-top: var(--margin-md);

  & li {
    margin-bottom: 1.2rem;
  }

  & a {
    font-size: 1.2rem;
    font-weight: bold;
  }

  & p {
    margin-top: 0.7rem;
  }
}

ul,
ol {
  margin: 0 0 var(--spacing) 2em;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/**
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-inline,
.list-unstyled {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0.5rem;
}

.list-inline>li::before,
.list-unstyled>li::before {
  content: " ";
  /* 1 */
  position: absolute;
  /* 2 */
}

/**
 * Removes list styling.
 * For semantic reasons, should only be used on unordered lists.
 */
.list-unstyled {
  margin-left: 0;
}

/**
 * Display lists on a single line.
 */
.list-inline {
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0;
}

.list-inline>li {
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/**
 * List bullet color
 */

li::marker {
  color: var(--color-primary);
}

/**
 * Text colors
 */
.text-muted {
  color: var(--color-gray-dark);
}

.text-highlight {
  background: var(--color-highlight);
}

/* @section Video */
dialog {
  padding: 0;
  border: 0;
  border-radius: 1rem;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
  }
}

iframe {
  display: block;
  width: 800px;
  aspect-ratio: 16/9;
}

.video {
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  margin: 1rem auto;
}

/**
 * Margins
 */

.margin-v-md {
  margin-top: var(--margin-md);
  margin-bottom: var(--margin-md);
}

.margin-v-lg {
  margin-top: var(--margin-lg);
  margin-bottom: var(--margin-lg);
}

.margin-top-lg {
  margin-top: var(--margin-lg);
}

.margin-top-md {
  margin-top: var(--margin-md);
}

.margin-btm-lg {
  margin-bottom: var(--margin-lg);
}

.margin-btm-md {
  margin-bottom: var(--margin-md);
}

/**
 * Floats
 */

.float-left {
  float: left;
}

.float-right {
  float: right;
}
